@font-face {
	font-family: Roboto;
	src: url("roboto/Roboto-Regular.ttf") format("truetype");
}

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--clr-bg: 0, 0%, 20%;
	--clr-bg-light: 0, 0%, 40%;
	--clr-txt: 0, 0%, 90%;
	--clr-red: 0, 90%, 45%;

	--border: .15rem solid hsl(var(--clr-bg-light));
	--border-radius: 5px;
}

html, body {
	height: 100%;
}
body {
	font-family: Roboto, sans-serif;
	background-color: hsl(var(--clr-bg));
	margin: 0;
	color: hsl(var(--clr-txt));
}

button {
	all: unset;
	padding: .3em;
	border: var(--border);
	border-radius: 5px;
	cursor: pointer;
	user-select: none;
}
button:active {
	background-color: hsl(var(--clr-bg-light));
}

input {
	all: unset;
	border: var(--border);
	border-radius: var(--border-radius);
	padding: .2rem;
}

.card {
	border: var(--border);
	border-radius: var(--border-radius);
	padding: .7em max(2em, 2rem);
}

.svg {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1em;
	height: 1em;
}

.card .underline {
	position: relative;
	padding-bottom: .5em;
	margin-bottom: .5em;
}
.card .underline::after {
	content: '';
	position: absolute;
	left: -1em;
	right: -1em;
	bottom: 0;
	height: .2em;
	background-color: hsl(var(--clr-bg-light));
	border-radius: 1000000vw;
}